<div class="container">
  <div class="wrapper mt-5" style="text-align: center;">
    <a href="/" style="color: #00DDDD;display: block;font-size: 40px;">URL Shortener</a>
    <i class="fas fa-link fa-7x mt-4" style="color: #CA8EFF;"></i>
  </div>
  <form action="/copy" class="mt-5" style="text-align: center;">
    <div class="url">
      <h2>Success! Please use the link below.</h2>
      <input type="text" class="rounded my-3 copy-content" name="url"
        style="border-style: none;text-align: center; width: 60%;"
        value="https://cryptic-oasis-20664.herokuapp.com/{{ shortCode }}" disabled>
    </div>
    <button class="btn btn-outline-secondary copy" style="width: 30%;">Copy</button>
  </form>
</div>