<div class="container">
  <div class="wrapper mt-5" style="text-align: center;">
    <h3 style="color: #00DDDD;">URL Shortener</h3>
    <i class="fas fa-link fa-7x mt-4" style="color: #CA8EFF;"></i>
  </div>
  <form action="/shorten" method="POST" class="mt-5" style="text-align: center;">
    <div class="input">
      <input type="text" class="rounded my-3 border" style="background-color: #E0E0E0; width: 80%; text-align:center"
        placeholder="Input URL here" required>
    </div>
    <button class="btn btn-outline-secondary" style="width: 30%;">Shorten</button>
  </form>
</div>