<div class="container">
  <div class="wrapper mt-5" style="text-align: center;">
    <a href="/" style="color: #00DDDD;display: block;font-size: 40px;">URL Shortener</a>
    <i class="fas fa-link fa-7x mt-4" style="color: #CA8EFF;"></i>
  </div>
  <form action="/shorten" class="mt-5" style="text-align: center">
    <div class="url">
      <input type="text" class="rounded my-3 border" name="url"
        style="background-color: #E0E0E0; width: 60%; text-align:center" placeholder="Input URL here" required>
    </div>
    <button type="submit" class="btn btn-outline-secondary" style="width: 30%;">Shorten</button>
  </form>
</div>